{#
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
#}
<style>
  .overlay {
    opacity: 0.8;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
</style>
<div class="overlay">
  <div class="row" style="margin-top: 20%;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h2 class="text-center">Please Wait. Your data is being uploaded.</h2>
      <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="Loading Logo"
        class="img-responsive center-block" style="margin-top: 50px;">
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
{% extends 'appbuilder/general/model/edit.html' %}
{% block tail_js %}
{{ super() }}
<script>
  var db = $("#con");
  var schema = $("#schema");
  var toggle_pre_process = false;
  var toggle_hash = false;

  // this element is a text input
  // copy it here so it can be reused later
  var any_schema_is_allowed = schema.clone();

  update_schemas_allowed_for_csv_upload(db.val());
  db.change(function () {
    update_schemas_allowed_for_csv_upload(db.val());
  });


  initPage();
  hide_preprocess();
  hide_hash();

  $('#pre_process').on('click', function () {
    if (toggle_pre_process == false) {
      display_preprocess();
      toggle_pre_process = true;
    } else if (toggle_pre_process == true) {
      hide_preprocess();
      toggle_pre_process = false;
    }
  });

  $('#hash_status').on('click', function () {
    if (toggle_hash == false) {
      display_hash();
      toggle_hash = true;
    } else if (toggle_hash == true) {
      hide_hash();
      toggle_hash = false;
    }
  });

  $('form#model_form').on('submit', function () {
    displayLoading();
  });

  function update_schemas_allowed_for_csv_upload(db_id) {
    $.ajax({
      method: "GET",
      url: "/superset/schemas_access_for_file_upload",
      data: { db_id: db_id },
      dataType: 'json',
      contentType: "application/json; charset=utf-8"
    }).done(function (data) {
      change_schema_field_in_formview(data)
    }).fail(function (error) {
      var errorMsg = error.responseJSON.error;
      alert("ERROR: " + errorMsg);
    });
  }

  function change_schema_field_in_formview(schemas_allowed) {
    if (schemas_allowed && schemas_allowed.length > 0) {
      var dropdown_schema_lists = '<select id="schema" name="schema" required>';
      schemas_allowed.forEach(function (schema_allowed) {
        dropdown_schema_lists += ('<option value="' + schema_allowed + '">' + schema_allowed + '</option>');
      });
      dropdown_schema_lists += '</select>';
      $("#schema").replaceWith(dropdown_schema_lists);
    } else {
      $("#schema").replaceWith(any_schema_is_allowed)
    }
  }

  function hide_preprocess() {
    var selected_col = $('#selected_col');
    var regex_str = $('#regex_str');

    selected_col.parent().addClass('hidden-lg hidden-md');
    regex_str.parent().addClass('hidden-lg hidden-md');

    selected_col.parent().prev().addClass('hidden-lg hidden-md');
    regex_str.parent().prev().addClass('hidden-lg hidden-md');
  }

  function display_preprocess() {
    var selected_col = $('#selected_col');
    var regex_str = $('#regex_str');
    var hash_status = $('#hash_status');

    selected_col.parent().removeClass('hidden-lg hidden-md');
    regex_str.parent().removeClass('hidden-lg hidden-md');

    selected_col.parent().prev().removeClass('hidden-lg hidden-md');
    regex_str.parent().prev().removeClass('hidden-lg hidden-md');
  }

  function hide_hash() {
    var hash_str = $('#hash_str');

    hash_str.parent().addClass('hidden-lg hidden-md');

    hash_str.parent().prev().addClass('hidden-lg hidden-md');
  }

  function display_hash() {
    var hash_str = $('#hash_str');

    hash_str.parent().removeClass('hidden-lg hidden-md');

    hash_str.parent().prev().removeClass('hidden-lg hidden-md');
  }

  function initPage() {
    $('.overlay').addClass('hidden-lg hidden-md');
  }

  function displayLoading() {
    $('.overlay').removeClass('hidden-lg hidden-md');
  }

</script>
{% endblock %}